.Header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
}

.Header-logo{
     /* 여기수정 */
    margin-top: 20px;
    margin-left: 200px;
    height: 80px;
}

span{
    align-items: right;
}

a{
    margin-right: 2rem;
    color: rgb(49, 49, 49);
}