@charset "utf-8";

/* default.css */

/* font */

@font-face {
  font-family: "nexonlv1";
  src: url("./assets/fonts/NEXONLv1GothicRegular.ttf");
}

@font-face {
  font-family: "nexonbold";
  src: url("./assets/fonts/NEXONLv1GothicBold.ttf");
}

@font-face {
  font-family: "tenada";
  src: url("./assets/fonts/Tenada.ttf");
}
