@charset "utf-8";

/* default.css */

/* font */

@font-face {
  font-family: "nexon";
  src: url("./NEXONLv1GothicRegular.ttf");
}

@font-face {
  font-family: "nexonbold";
  src: url("./NEXONLv1GothicBold.ttf");
}
